.main.container {
    margin-top: 70px;
    max-width: 960px;
}

.addButton {
    display: block;
    width: 115px;
    height: 40px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

.body {
    /*background-color: red;*/
    /*background-image: url('https://www.bleepstatic.com/content/hl-images/2021/06/15/Windows--11.jpg') !important;*/
}
